@charset "UTF-8";

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #11141b;
  font-family: roboto mono, roboto, system-ui;
  /* Зачаровать шрифты */
  /* font-smoothing: antialiased; */
  font-variant-ligatures: none;
  /**
   * Фикс для мобильного сафари, чтобы при поворотах он не склеивал и не терял контент.
   * Префиксы установлены вручную, так как на момент 13.03.2018
   * autoprefixer этого не делал автоматически.
   */
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100vh;

  margin: 0;

  padding: 50px 10px;
}

main {
  width: 100%;
  height: 100%;
}

.scheduler {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  width: 100%;
  height: 100%;

  padding: 20px;

  background-color: #1d222c;
  border-radius: 10px;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.2);
}

.scheduler__header {
  font-size: 24px;

  margin-top: 0;

  font-weight: 700;
  color: #d0d1d4;

  text-align: center;
}

.scheduler__task-form {
  display: flex;
  flex-wrap: wrap;
}

.scheduler__task-name {
  -webkit-appearance: none;
  /* ← Этот хак нужен сафари для работы (проблема со свойством height)... */
  min-width: 100px;
  flex-basis: 100%;
  height: 42px;

  margin-bottom: 10px;
  padding: 0 14px;

  color: #f0f0f1;
  background-color: #2d313a;
  caret-color: #069df9;

  font-size: 20px;

  border: 1px solid transparent;
  border-radius: 5px;

  outline: none;

  text-overflow: ellipsis;
}

.scheduler__task-name::placeholder {
  font-size: 20px;
  color: #6d7582;
}

.scheduler__task-name:hover,
.scheduler__task-name:focus {
  transition: 0.3s ease-out;
  border-color: #069df9;
}

.scheduler__task-name:focus::placeholder {
  color: transparent;
}

.scheduler__create-task {
  min-width: 100px;
  flex-basis: 100%;
  height: 42px;

  padding-left: 40px;
  padding-right: 10px;

  color: #fff;
  background-color: #069df9;

  font-size: 18px;

  border: 0;
  border-radius: 5px;

  background-image: url('../images/plus-icon.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center left 10px;

  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.scheduler__create-task:hover,
.scheduler__create-task:focus {
  background-color: #136bd6;
}

.scheduler__tasks-section {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  overflow: scroll;
}

.scheduler__tasks-section::-webkit-scrollbar {
  display: none;
}

.scheduler__tasks-list-header {
  font-size: 20px;
  font-weight: 700;
  color: #d0d1d4;

  text-align: center;
}

.scheduler__tasks-list {
  flex-grow: 1;

  padding-left: 0;

  overflow: scroll;
}

.scheduler__tasks-list::-webkit-scrollbar {
  display: none;
}

.scheduler__select-all {
  height: 42px;

  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 10px;

  color: #9a9da1;

  font-size: 17px;
  text-align: left;

  border: 1px solid transparent;
  border-radius: 5px;

  background-image: url('../images/checkbox.svg');
  background-color: transparent;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left 10px;
}

.scheduler__select-all:hover {
  cursor: pointer;
}

.scheduler__select-all:hover,
.scheduler__select-all:focus {
  transition: 0.3s ease-out;
  border-color: #069df9;
}

.scheduler__select-all.selected {
  background-image: url('../images/checkboxSelected.svg');
}

@media (min-width: 768px) {
  .scheduler__header {
    font-size: 32px;

    margin-top: 20px;
  }

  .scheduler__task-name {
    flex-grow: 1;
    flex-basis: auto;
  }

  .scheduler__create-task {
    flex-grow: 0;
    flex-basis: auto;

    margin-left: 10px;
  }
  .scheduler__tasks-list-header {
    font-size: 25px;
  }

  .scheduler__select-all {
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .scheduler {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
